body {
    padding: 0;
    margin: 0;
}

#background{
    height: 100vh;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%);
}

.cards-container {
    background: rgba(0, 0, 0, 0.2);
}

.cards-transition{
    transition: 500ms cubic-bezier(1,.7,.14,1);
}

.cards {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    aspect-ratio: 5/7;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    border: 5px solid rgba(255,255,255,0.8);
    align-items: center;
    transform: translate(-50%, -50%);
    z-Index: 5;
    background: rgba(0, 0, 0, 0.5);
    color:rgb(255,255,255,0.8);
}

.cards:nth-child(4) {
    transform: rotate(10deg) translate(-55%, -40%);
}
.cards:nth-child(3) {
    transform: rotate(-15deg) translate(-30%, -60%);
}
.cards:nth-child(2) {
    transform: rotate(5deg) translate(-50%, -50%);
}
.cards:nth-child(1) {
    transform: rotate(-5deg) translate(-50%, -50%);
}

.cards-container:hover > .cards:nth-child(4) {
    transform: rotate(-10deg) translate(-160%, -70%);
}

.cards-container:hover > .cards:nth-child(3) {
    transform: rotate(-5deg) translate(-80%, -60%);
}

.cards-container:hover > .cards:nth-child(2) {
    transform: rotate(5deg) translate(-0%, -50%);
}

.cards-container:hover > .cards:nth-child(1) {
    transform: rotate(10deg) translate(70%, -60%);
}

.cards:hover{
    z-index: 10;
}